mat-card{
    margin: 23px;
    width: 20%;
    float: left;
}

.players{
    display: absolute;
    margin: 0 auto;
    text-align: center;
}

#player{
    height: 22.5%;
    width: 22.5%;
    display: inline-block;
}

.playerInfo{
    display: inline-block;
}