mat-card{
    margin: 22.5px;
    align-content: center;
}

div {
    text-align: center;
}
  
h1 {
    font-size: 1000%;
    margin: 50px 0 20px;
}
h2 {
    font-size: 300%;
}
  
p {
    font-size: 120%;
}
  