<header>
  <img class="headerImg" src="assets/images/download.jpg" />
  <mat-toolbar color="primary" class="toolbar">
    <span>Basket Rater Belgium</span>
    <span class="example-spacer"></span>
    <button mat-button *ngIf='(currentUser | async)' [matMenuTriggerFor]="appMenu">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar>

  <mat-menu #appMenu="matMenu">
    <button mat-menu-item routerLink="">Home</button>
    <button mat-menu-item routerLink="/team">Team</button>
    <button mat-menu-item routerLinkActive='active' routerLink="/logout">Log Out</button>
  </mat-menu>
</header>