.example-spacer{
    flex: 1 1 auto;
}

header{
    position: static;
    width: 100%;
    background-color: #03c03c;
}

.toolbar{
    width: 100%;
    background-color: #03c03c;
}

.headerImg{
    position: block;
    width: 100%;
    max-height: 240px;
}