<header>
  <img class="headerImg" src="assets/images/download.jpg" />
  <mat-toolbar color="primary" class="toolbar">
    <span>Basket Rater Belgium</span>
    <span class="example-spacer"></span>
    <button mat-button [matMenuTriggerFor]="appMenu">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar>

  <mat-menu #appMenu="matMenu">
    <button mat-menu-item routerlinkActive="active" routerLink="">Home</button>
    <button mat-menu-item routerlinkActive="active" routerLink="/team">Team</button>
    <button mat-menu-item>Log in</button>
  </mat-menu>
</header>