mat-card{
    margin: 22.5px;
    align-content: center;
}

#player{
    height: 7%;
    width: 7%;
    display: inline-block;
}

.playerInfo{
    display: inline-block;
    padding: 20px;
}

.buttons{
    padding: 5px;
}