mat-card{
    margin: 22.5px;
    align-content: center;
}

#player{
    height: 7%;
    width: 7%;
    display: inline-table;
}

.playerInfo{
    display: inline-block;
    padding: 20px;
}

.ratOfPlayer{
    width: 45%;
    float: left;
}

.rates{
    padding: 25px;
    border-right: 2px solid blue;
    display: inline-table;
}

.comments{
    padding: 10px;
    display: inline-table;
}

.buttons{
    padding: 5px;
}