<mat-card>
  <h2>Player Profile</h2>
  <div *ngIf="value">
    <img id="player" src={{value.picturePath}} alt={{value.lastname}}/>
    <div class="playerInfo">
      <h3>Firstname: {{value.firstname}}</h3>
      <h3>Lastname: {{value.lastname}}</h3>
      <h4>Number: {{value.playernumber}}</h4>
      <h5>Position: {{value.positionString}}</h5>
    </div>
  </div>
  <div class="buttons">
    <button mat-raised-button color="warn" routerlinkActive="active" routerLink="/team">Back</button>
    <div *ngIf="player">
      <button mat-raised-button color="primary" (click)="openDialog(value)">Rate</button>
    </div>
  </div>
</mat-card>