<mat-card>
<h2>Player Profile</h2>
<img id="player" src={{player.picturePath}} alt={{player.lastname}}/>
<div class="playerInfo">
  <h3>Firstname: {{player.firstname}}</h3>
  <h3>Lastname: {{player.lastname}}</h3>
  <h4>Number: {{player.playernumber}}</h4>
  <h5>Position: {{player.positionString}}</h5>
</div>
<div class="buttons">
  <button mat-raised-button color="warn" routerlinkActive="active" routerLink="">Back</button>
  <button mat-raised-button color="primary" (click)="openDialog(player)">Rate</button>
</div>
</mat-card>
