<mat-card>
  <form class="form-container" [formGroup]='user' (ngSubmit)='onSubmit()'>
    <h3>Login</h3>
    <mat-input-container>
      <input matInput type="text" placeholder="Username" id="username" formControlName='username'>
    </mat-input-container>
    <mat-input-container>
      <input matInput type="password" id="password" placeholder="Password" formControlName='password'>
    </mat-input-container>
      <button mat-raised-button color="primary" type='submit' [disabled]='!user.valid'>log in</button>
      <div *ngIf='errorMsg'>{{errorMsg}}</div>
      <button mat-raised-button color="warn" routerLink="/register">Register</button>
  </form>
</mat-card>