.footer{
    background-color: #028e2c;
    text-align: center;
    bottom: 0;
    font-size: 10px;
    color: white;
    position: absolute;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}