<form [formGroup]='user' (ngSubmit)='onSubmit()' class="ui large form segment">
  <h3 class="ui header">login</h3>
  <div class="field">
    <label for="username">username:</label>
    <input type="text" id="username" formControlName='username'>
  </div>
  <div class="field">
    <label for="password">password:</label>
    <input type="password" id="password" formControlName='password'>
  </div>
  <button type='submit' [disabled]='!user.valid' class="ui positive right floated button">log in</button>
  <div *ngIf='errorMsg' class='ui red label'>{{errorMsg}}</div>
</form>
<a class='item' routerLink="/register" >register</a>