mat-card{
    margin: 22.5px;
}

.form-container{
    display: flex;
    flex-direction: column;
}
  
.form-container > *{
    width: 100%;
}

mat-input-container{
    display: flex;
    flex-direction: column;
    width: 100%;
}

button{
    margin: 5px;
}