<div *ngIf="team">
    <mat-card>
        <img id="okapi" src={{team.picturePath}} alt="TeamLogo" />
        <p class="subtitle">Welcome on this player rating site for {{team.name}},</p>
        <p class="subtitle">See what people think about one of our players!</p>
        <mat-nav-list>
            <mat-list-item routerLink="/team">
                <mat-icon mat-list-icon>list</mat-icon>
                <h4 mat-line>Overview of all players of Crelan Okapi Aalstar</h4>
                <p mat-line> View the profile, or rate a player </p>
            </mat-list-item>
        </mat-nav-list>
    </mat-card>
</div>