mat-card{
    margin: 22.5px;
    align-content: center;
}

.subtitle{
    text-align: center;
}

mat-list{
    width: 50%;
}

#okapi{
    display: block;
    margin: 5px auto;
}

.ranked{
    display: inline-block;
    width: 45%;
}

.scored{
    display: inline-block;
    width: 45%;
}